In [31]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys

navegador = webdriver.Chrome()

#Passo 1: Pegar cotação do dólar
navegador.get("https://www.google.com.br")

navegador.find_element("xpath",'/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys("dólar hoje")
navegador.find_element("xpath",'/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)

cotacaoDolar = navegador.find_element("xpath",'//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')
print(cotacaoDolar)

#Passo 2: Pegar cotação do euro
navegador.find_element('xpath', '//*[@id="tsf"]/div[1]/div[1]/div[2]/div/div[2]/input').clear()
navegador.find_element('xpath', '//*[@id="tsf"]/div[1]/div[1]/div[2]/div/div[2]/input').send_keys("euro hoje")
navegador.find_element('xpath', '//*[@id="tsf"]/div[1]/div[1]/div[2]/div/div[2]/input').send_keys(Keys.ENTER)

cotacaoEuro = navegador.find_element('xpath', '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')
print(cotacaoEuro)

#Passo 3: Pegar cotação do ouro
navegador.get("https://www.melhorcambio.com/ouro-hoje")

cotacaoOuro = navegador.find_element('xpath', '//*[@id="comercial"]').get_attribute('value')
cotacaoOuro = cotacaoOuro.replace(',', '.')
print(cotacaoOuro)

navegador.quit()

5.244
5.352382992
292.78

In [32]:
#Passo 4: Importar a base de dados
import pandas as pd

tabela = pd.read_excel('Produtos.xlsx')
display(tabela)

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,6,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,5,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,5,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,6,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,5,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,350,7000.00,1.15,8050.000

In [33]:
#Passo 5: Recalcular os preços
tabela.loc[tabela["Moeda"] == "Dólar", "Cotação"] = float(cotacaoDolar)
tabela.loc[tabela["Moeda"] == "Euro", "Cotação"] = float(cotacaoEuro)
tabela.loc[tabela["Moeda"] == "Ouro", "Cotação"] = float(cotacaoOuro)

tabela["Preço de Compra"] = tabela["Preço Original"] * tabela["Cotação"]
tabela["Preço de Venda"] = tabela["Preço de Compra"] * tabela["Margem"]
display(tabela)

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5.244000,5243.947560,1.40,7341.526584
1,Carro Renault,4500.00,Euro,5.352383,24085.723464,2.00,48171.446928
2,Notebook Dell,899.99,Dólar,5.244000,4719.547560,1.70,8023.230852
3,IPhone,799.00,Dólar,5.244000,4189.956000,1.70,7122.925200
4,Carro Fiat,3000.00,Euro,5.352383,16057.148976,1.90,30508.583054
5,Celular Xiaomi,480.48,Dólar,5.244000,2519.637120,2.00,5039.274240
6,Joia 20g,20.00,Ouro,292.780000,5855.600000,1.15,6733.940000

In [34]:
#Passo 6: Exportar base de dados
tabela.to_excel("Produtos Novo.xlsx", index=False)